<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PianoDemo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="mainPanel" @click.stop="createItem" @mouseMove.stop="allMouseMove" @mouseUp.stop="unmark" @mouseOver.stop="showSight" @mouseLeave.stop="hideSight">
            <!-- 水平分隔线 -->
            <div class="lineRow" v-for="(index) in row"  :style="{gridRow:index}"></div>
            <!-- 垂直分隔线 -->
            <div class="lineColumn" v-for="(index) in column"  :style="{gridColumn:index}"></div>
            <!-- hover时所在的格子，亦即准星 -->
            <div class="sight" id="sight" :style="{display:mouseIn?'block':'none',gridColumn:sightX,gridRow:sightY}"></div>
            <!-- 所有音符 -->
            <div class="item" v-for="(item, index) in soundList" :key="index" :style="{gridColumn:item.x + '/' + item.length + ' span',gridRow:item.y}" @click.ctrl.stop="deleteItem(index)" @mouseDown.stop="markItem(index)" @mouseEnter.stop="inItem(index)">
                <div class="itemLeft itemStretch" @mouseDown.stop="markBorder(index,false)"></div>
                <div class="itemRight itemStretch" @mouseDown.stop="markBorder(index,true)"></div>
            </div>
        </div>
        <div>{{sightX}}-{{sightY}}</div>
        <div @click="playAll" style="cursor: pointer;">play</div>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</html>