*{
    margin: 0;
    padding:0;
}
.mainPanel{
    display: grid;
    grid-template-columns: [panel-start] repeat(256, 30px) [panel-end];
    grid-template-rows: [panel-start] repeat(36,18px) [panel-end];
}
.item{
    background: rgb(125, 125, 125);
    z-index: 9;
    position: relative;
}
.item:hover{
    background:black;
}
.itemStretch{
    position: absolute;
    height: 100%;
    width: 6px;
    cursor: ew-resize;
}
.itemLeft{
    left: 0;
}
.itemRight{
    right: 0;
}
.lineRow{/*水平线*/
    height: 1px;
    background: rgb(100, 100, 100);
    grid-column: panel;
}
.lineColumn{/*垂直线*/
    width: 1px;
    background: rgb(100, 100, 100);
    grid-row: panel;
}
.sight{
    background: rgb(175, 175, 175);
    /* grid-column:2; */
    /* grid-row: 2; */
    transition: grid-area 0.2s;
}